<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use this to locate the distance in relation to the Apple Developer Academy</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to your location always.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs your location while in use.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>AppleDeveloperAcademy.AMplify.BGTask</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>location</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
